<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_mime.c>
        AddType application/javascript .mjs
    </IfModule>

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.html [L]
</IfModule>
